.app-container {
    max-width: 400px;
    margin: 0 auto;
}

input.form-control {
    margin: 5px 0;
}

.loading {
    margin-top: 30px;
    border-radius: 5px;
    padding: 10px 10px;
}

.message {
    overflow: hidden;
    padding: 0 10px;
    opacity: 1;
    line-height: 30px;
    border-radius: 5px;
    margin-top: 20px;
    clear: both;
}

.message:empty {
    padding: 0;
}

.switch-lang span {
    color: #337ab7;
    cursor: pointer;
}
.switch-lang span:hover {
    color: #23527c;
    text-decoration: underline;
}
