<form novalidate name="form" class="form-signin">
    <h2>Sign in</h2>

    <label for="name" class="sr-only">Login name</label>
    <input id="name" ng-model="user.name" class="form-control" placeholder="Login name" required autofocus min="3">

    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" ng-model="user.password" class="form-control" placeholder="Password" required min="3">

    <a ui-sref="forgot-password" class="pull-right">Forgot password?</a>

    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="form.$invalid" ng-click="login()">Sign in</button>
</form>